<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Override for Firebase library -->
    <uses-sdk tools:overrideLibrary="com.google.firebase.auth" />

    <!-- Required features -->
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wsafety"
        tools:replace="android:label, android:icon">

        <!-- Splash screen as the launcher activity -->
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Other activities -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".GoogleLoginActivity" />
        <activity android:name=".RegisterNumberActivity" />

        <!-- Service for background operations -->
        <service
            android:name=".ServiceMine"
            android:enabled="true"
            android:foregroundServiceType="location"
            android:exported="false" />
    </application>

</manifest>
